{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block content %}

<div class="change-password-container">

    <div class="change-password-card">

        <h1>Change Password</h1>

        {% if messages %}
            {% for i in messages %}
                <p class="message">{{ i }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            {% if new %}

                <div class="form-group">
                    <label>New Password</label>

                    <input
                        type="password"
                        name="new_pasw"
                        id="new-password"
                        required
                    >

                    <button
                        type="button"
                        onclick="togglePassword('new-password', this)"
                    >
                        Show
                    </button>
                </div>

            {% else %}

                <div class="form-group">
                    <label>Old Password</label>

                    <input
                        type="password"
                        name="old_pasw"
                        id="old-password"
                        required
                    >

                    <button
                        type="button"
                        onclick="togglePassword('old-password', this)"
                    >
                        Show
                    </button>
                </div>

            {% endif %}

            <button type="submit">Change Password</button>

        </form>

        <a href="{% url 'profile' %}" class="back-profile">
            Back to Profile
        </a>

    </div>

</div>

<script src="{% static 'js/password.js' %}"></script>

{% endblock %}