
{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
{% endblock %}

{% block content %}

<div class="forgot-password-container">

    <div class="forgot-password-card">

        <h1>Forgot Password</h1>

        {% if messages %}
            {% for i in messages %}
                <p class="message">{{ i }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="form-group">
                <label>Username</label>

                <input
                    type="text"
                    name="uname"
                    placeholder="Enter Username"
                    required
                >
            </div>

            <button type="submit">Continue</button>

        </form>

        <a href="{% url 'login_' %}" class="back-login">
            Back to Login
        </a>

    </div>

</div>

{% endblock %}

